.auth-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-form-container {
    color: black;
    width: 500px;
    height: 400px;
}

.auth-form-container h1 {
    font-size: 32px;
}